.App {
  display: flex;
  background: var(--primary-light);
  color: var(--secondary-text);

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
    max-height: 100vh;
    padding: 60px 10px;
    overflow: scroll;
  }
}
