@import 'variables';

.App {
  display: flex;
  height: 100vh;
  background: $light-grey;
  color: $black-blue;

  nav {
    width: 15%;
    max-height: 100vh;
    background: $black;
    color: $white;
    padding: 20px 0;
  }

  main {
    width: 85%;
    max-height: 100vh;
    padding: 60px 10px;
    overflow: scroll;
  }
}
