@import "variables";

.category {
  margin-bottom: 40px;

  .banner {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

    img {
      background: white;
      max-width: calc(100vw / 4);
      max-height: calc(100vh / 8);
    }
  }
}

@media screen and (min-width: $media-large) {
  .banner {
    height: 200px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0 100%);

    img {
      padding: 5px;
      max-width: 15%;
      max-height: unset;
    }
  }
  .info {
    width: 100%;
    min-height: 200px;
    margin-top: -40px;
    padding: 40px 10px 10px 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
  }

}

