div.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15vw;
  width: 15vw;
  max-height: 100vh;
  background: var(--secondary);
  color: var(--primary-text);
  padding: 60px 10px;
  z-index: 2;
  transition: left cubic-bezier(.71, .01, 0, .99) 300ms;

  &.active {
    left: 0;
  }

  .burger-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    fill: var(--primary-text);
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      margin: 5px 0;
      padding: 5px 0;

      a, a:active, a:hover, a:visited, a:focus {
        color: inherit;
        text-decoration: none;
      }
    }

    li:first-child {
      margin-top: 0;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  .dark-theme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    height: 40px;
    width: 100%;
    font-size: .6em;

    .toggle {
      transform: scale(0.8);
    }
  }
}

